.container1 {
    height: 400px;
    width: 400px;
    position: relative;
    margin: 20px;
    background-color: black;

}

.box1 {
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 0;
    background-color: orange;


}

.box2 {
    height: 300px;
    width: 200px;
    position: relative;
    background-color: green;

}

.box3 {
    height: 300px;
    width: 200px;
    background-color: lightblue;
    position: absolute;
    right: 0px;
    top: 0px;
    
}